*{
    background-color: gainsboro;
}

.container{
    display: flex;
    flex-wrap:wrap;
    align-items: center;
    justify-content: center;
    height: auto;
    width: auto;
}

.playField{
    display: flex;
    justify-content: center;
}

.xAxis{
    display: flex;
    flex-wrap: wrap;
}

.block{
    border: white solid 1px;
    height: 45px;
    width: 45px;
    background-color: gray;
}